[submodule "jellyfin-server"]
	path = jellyfin-server
	url = https://github.com/soultaco83/jellyfin-server
[submodule "jellyfin-web"]
	path = jellyfin-web
	url = https://github.com/soultaco83/jellyfin-web-requeststab
[submodule "jellyfin-server-windows"]
	path = jellyfin-server-windows
	url = https://github.com/jellyfin/jellyfin-server-windows.git
[submodule "jellyfin-requests"]
	path = jellyfin-requests
	url = https://github.com/soultaco83/Jellyfin_requests_plugin.git
