[submodule "jellyfin-server"]
	path = jellyfin-server
	url = https://github.com/soultaco83/jellyfin-server-unstable

[submodule "jellyfin-web"]
	path = jellyfin-web
	url = https://github.com/soultaco83/jellyfin-web-unstable

[submodule "jellyfin-requests"]
	path = jellyfin-requests
	url = https://github.com/soultaco83/jellyfin_plugin_requests
